<h1> Exercícios - Capítulo 02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lst_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
lst_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lst_obj = ["Faca", "Tesoura", "Cadeira", "Escada", "Mesa"]

In [4]:
lst_obj

['Faca', 'Tesoura', 'Cadeira', 'Escada', 'Mesa']

In [11]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
nome = 'Julio'
sobrenome = 'Rodrigues'
full = nome + ' ' + sobrenome

In [12]:
full

'Julio Rodrigues'

In [13]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [14]:
tupla.count(4)

3

In [15]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicionario = {}

In [16]:
dicionario

{}

In [25]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {'Manga':1, 'Maçã':2, 'Uva':3}

In [26]:
dic

{'Manga': 1, 'Maçã': 2, 'Uva': 3}

In [27]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic['Maracujá'] = 4

In [28]:
dic

{'Manga': 1, 'Maçã': 2, 'Uva': 3, 'Maracujá': 4}

In [29]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dicionario = {'Marta':10, 'Priscila':[10, 20,], 'Maria Alice':50}

In [30]:
dicionario

{'Marta': 10, 'Priscila': [10, 20], 'Maria Alice': 50}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [31]:
lst_ex = ['Bola', ('Baile', 16), {'Maçã':10, 'Banana':20}, 7.5]

In [32]:
lst_ex

['Bola', ('Baile', 16), {'Maçã': 10, 'Banana': 20}, 7.5]

In [33]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[:18]

'Cientista de Dados'

<h1> Fim