<H1> Pandas

- Biblioteca criada para manipular dados estruturados.

In [1]:
from pandas import Series

In [2]:
import pandas as pd
pd.__version__

'1.0.1'

In [3]:
# Criando uma série sem especificar os índices
Obj = Series([67, 78, -56, 13])

In [4]:
Obj

0    67
1    78
2   -56
3    13
dtype: int64

In [5]:
type(Obj)

pandas.core.series.Series

In [6]:
Obj.values

array([ 67,  78, -56,  13], dtype=int64)

In [7]:
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# Criando uma série e especificando os índices
Obj2 = Series([67, 78, -56, 13], index = ['a', 'b', 'c', 'd'])

In [9]:
Obj2

a    67
b    78
c   -56
d    13
dtype: int64

<h2> Dataframe

In [10]:
from pandas import DataFrame

In [11]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'], 
        'Ano': [2002, 2003, 2004, 2005, 2006], 
        'População': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [12]:
frame = DataFrame(data)

In [13]:
frame

           Estado   Ano  População
0  Santa Catarina  2002        1.5
1          Paraná  2003        1.7
2           Goiás  2004        3.6
3           Bahia  2005        2.4
4    Minas Gerais  2006        2.9

In [14]:
DataFrame(data, columns = ['Ano', 'Estado', 'População'])

    Ano          Estado  População
0  2002  Santa Catarina        1.5
1  2003          Paraná        1.7
2  2004           Goiás        3.6
3  2005           Bahia        2.4
4  2006    Minas Gerais        2.9

In [15]:
# Criando outro dataframe com os mesmo dados anteriores mas adicionando uma coluna
frame2 = DataFrame(data, columns = ['Ano', 'Estado', 'População', 'Débito'], 
                   index = ['um', 'dois', 'três', 'quatro', 'cinco'])

In [16]:
# Imprimindo o Dataframe
frame2

         Ano          Estado  População Débito
um      2002  Santa Catarina        1.5    NaN
dois    2003          Paraná        1.7    NaN
três    2004           Goiás        3.6    NaN
quatro  2005           Bahia        2.4    NaN
cinco   2006    Minas Gerais        2.9    NaN

In [17]:
# Imprimindo apenas uma coluna do Dataframe
frame2['Estado']

um        Santa Catarina
dois              Paraná
três               Goiás
quatro             Bahia
cinco       Minas Gerais
Name: Estado, dtype: object